table {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;

    
}

th {
    padding: 10px 0;
}

td {
    padding: 5px 3px;
    border-top: 1px solid black;
}

td:nth-child(5) {
    width: 15%;
}

.wentup {
    color: green
}

.wentdown {
    color: red;
}